<h3>Gaurav Jagtap</h3>
<h1>Oasis Task 3 SALES PREDICTION USING PYTHON</h1>

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import seaborn as sea

In [15]:
df=pd.read_csv("Advertising.csv",index_col=0)
df.index.name = "S.no"
print("DATASET UPLOADED SUCCESSFULLY!")

DATASET UPLOADED SUCCESSFULLY!

In [16]:
print('\033[1m' +' Datset for sales in Advertising:' + '\033[0m')
df

 Datset for sales in Advertising:

         TV  Radio  Newspaper  Sales
S.no
1     230.1   37.8       69.2   22.1
2      44.5   39.3       45.1   10.4
3      17.2   45.9       69.3    9.3
4     151.5   41.3       58.5   18.5
5     180.8   10.8       58.4   12.9
...     ...    ...        ...    ...
196    38.2    3.7       13.8    7.6
197    94.2    4.9        8.1    9.7
198   177.0    9.3        6.4   12.8
199   283.6   42.0       66.2   25.5
200   232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [17]:
print("Random Rows: \n")
df.sample(5)

Random Rows:

         TV  Radio  Newspaper  Sales
S.no
52    100.4    9.6        3.6   10.7
190    18.7   12.1       23.4    6.7
166   234.5    3.4       84.8   11.9
119   125.7   36.9       79.2   15.9
151   280.7   13.9       37.0   16.1

In [18]:
df.shape

(200, 4)

In [19]:
print("Names of columns in advertising sales prediction dataset are:\n\n", df.columns)

Names of columns in advertising sales prediction dataset are:

 Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [20]:
print('\033[1m' +' Information of Dataset' + '\033[0m\n\n')
df.info()

 Information of Dataset


<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

In [21]:
print("Size of dataset is",df.size)

Size of dataset is 800

In [22]:
dc  = df.corr()
print("Correlation:\n")
dc

Correlation:

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.782224
Radio      0.054809  1.000000   0.354104  0.576223
Newspaper  0.056648  0.354104   1.000000  0.228299
Sales      0.782224  0.576223   0.228299  1.000000

In [23]:
print("Statistics summary:\n")
df.describe()

Statistics summary:

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000